*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    position: absolute;
    top:0px;
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
}

header nav ul{
    list-style: none;
    display: flex;
    width: 350px;
    justify-content: space-around;
}

header a{
    text-decoration: none;
    color: #e5e5e5;
}

#banner-section{
    background-image: url("./assets/img/main.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

#banner-section h1{
    font-size: 3.8rem;
    color: white;
    font-weight: normal;
    margin-bottom: 1rem;
}

#banner-section h2{
    font-size: 2rem;
    color: white;
    font-weight: normal;
    margin-bottom: 1rem;
}

#banner-section button{
    font-size: 1.3rem;
    color: white;
    font-weight: normal;
    background-color: #1a759f;
    border: none;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
}

#destination{
    text-align: center;
}

#destination h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#destination hr{
    margin: 10px auto;
    height: 8px;
    width: 400px;
    background-color: #013a63;
}


#destination-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    margin: 1rem auto;
}

#destination-grid figure{
    height: 350px;
    width: 300px;
}

#destination-grid figure img{
    height: 100%;
    width: 100%;
}

.small,.large{
    padding: 10px;
}

.small{
    flex-basis: 30%;
}

.large{
    flex-basis: 70%;
}

@media screen and (width<=900px){
    .small,.large{
        flex-basis: 50%;
    }
}

@media screen and (width<=700px){
    .small,.large{
        flex-basis: 100%;
    }
}

/* Adding animation : This Is Optional */

#banner-section div{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    100%{
        opacity: 1;
    }
}

